/*                        \*
General Attributes
\*                        */

html {width: 100%;}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  background-color: rgb(255,255,255);
  background: linear-gradient(to bottom, rgba(217, 235, 247, 1) 0px, rgb(255,255,255) 220px,rgb(255,255,255) 30000px);
  background-attachment: scroll;
  background-size: 100% 900%;
  font-family: 'Lato',sans-serif;
  font-weight:400;
  width:100%;
}
.game-presskit li {list-style-position:inside;list-style-type:circle;}
#presskit a, #presskit a:visited {color: rgba(43,169,202,1)}


/*                           *\
    Header & Nav
\*                           */

#presskit nav {background-color: rgba(0,0,0,.9) !important;}

header {
  display:inline-block;
  margin-top:2.8em;
  text-align:center;
  width:100%;
}

header img {
  margin:0;
  width:70%;
}
.glorkian header img {width:50%;}

.content {
  margin-top: 1em;
  width: 100%;
}

.game-presskit {
  margin:auto;
  width:90%
}

.toc {
  margin:.5em .5em 0 0;
  position: fixed;
  right:0;
  top:2.8em;
  width:12%;
  z-index:100;
}

#markdown-toc {
  background-color: rgba(255,255,255,.3);
  font-size: .8em;
}

.toc h3 {
  background-color: rgba(0,0,0,.6);
  color:white;
  font-size: .8em;
  font-weight: 400;
  padding: .4em .5em;
}

#markdown-toc li {
  background-color: rgba(0,0,0,.5);
  list-style-type:none;
  margin: .2em 0 .2em;
  padding: .4em .5em;
  width:100%;
}

#markdown-toc li a {color:white;}
#markdown-toc li ul li {background-color: rgba(0,0,0,.2)}


/*                *\
    Headings
\*                */

h1,h2,h3,h4,h5 {
  color: black;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: none;
}
.game-presskit h1 {
  font-size:2.3em;
  font-weight:900;
  /*text-shadow: 0 2px 0 rgba(0, 0, 0, .8);*/
}

.game-presskit h2 {
  margin: 0 auto;
  padding:.6em 0 .6em;
  width:50%;
}
#trailers {margin-bottom:-1em;}

.game-presskit h2:before, .game-presskit h2:after {
  content: " ";
  display: block;
  height:.6em;
  width:100%
}
.game-presskit h2:before {
  margin-top: 45px;
  border-top: 1px solid black;
}

.game-presskit h2:after {
  border-bottom: 1px solid black;
}

.game-presskit h3, .game-presskit h4,.game-presskit h5,
.game-presskit iframe, .game-presskit ul, .game-presskit p {
  display:block;
}

.game-presskit h3, .game-presskit h4,.game-presskit h5 {
  margin: .5em auto;
  width:50%
}
.game-presskit h5 {margin-top:1em;}

.game-presskit iframe {
  margin: .5em auto;
  width:50%;
}

#trailers + h3 , .game-presskit iframe + h3 {
  width: 50%
}


/*                           *\
     Section Styles
\*                           */

.game-presskit ul,.game-presskit p {
  margin:auto;
  width:50%
  }

#glorkian:before, #potatoman:before, #dino-run:before {
  display:block;
  content: " ";
  height:3em;
  margin-top:45px;
  margin-left:20%;
  width:50%;
}

#potatoman:before,#dino-run:before {
  border-bottom: 1px solid black;
}

#glorkian, #potatoman, #dino-run {
  margin-top:-4em;
}

.game-presskit ul li p {width:100%;}
.game-presskit p, .game-presskit ul li {
  color:rgba(0,0,0,.9);
  margin:.5em auto;
  }

.game-presskit ul li ul {width:90%;}
#credits ~ h4,#team ~ h4,#contact ~h4 { margin:1em auto 0;}
#credits ~ p,#team ~ p,#contact ~ p {margin: 0 auto;}

#presskit-title {
  margin-bottom: .6em;
  padding: 0;
  text-align:center;
}

#presskit-title:before {
  border-top: 1px solid white;
  content: " ";
  height:1px;
  width:100%;
}

#presskit-title:after {
  content: " ";
  height:1px;
  width:100%;
}

.game-presskit #trailers ~ h3 {
  margin-top:2em;
  padding-left:2em;
}

/*.game-presskit #trailers ~ p {padding-left:3em;}*/
.game-presskit h3 + p {
  margin:0 auto .5em;
}

.game-presskit blockquote blockquote {text-align:right;}
.game-presskit blockquote p em {font-size:.9em; margin-left:1em;}
.game-presskit blockquote p em + a {font-size: .9em}

#presskit-team-contact {
  margin:auto;
  width:60%;
}

.presskit-team, .presskit-contact {
  float:left;
  width:50%;
}

.presskit-team h2,.presskit-contact h2,
.presskit-team h3,.presskit-team h4,
.presskit-contact h3,.presskit-contact h4,
.presskit-team p,.presskit-contact p  {
  width: 100%;
}

.game-presskit form {
  color:black;
  margin: auto;
  width:50%
}

.game-presskit form label, .game-presskit form input {
  margin:.5em
}


/*                *\
     Images
\*                */

.image {
  max-width:300px;
}

.right {float:right;padding-left:.5em;}
.left {float:left;margin-left:-20%;padding-right:1.5em;}
.small {max-width: 10em;}
.medium {max-width:15em;}


/*                                             *\
  Screenshot & Image Sections
\*                                             */

.grid {
  margin:auto;
  width: 80%;
}

.grid p {width:100%;}
.grid a {float:left; max-width:25%;padding:.2em;}


/*             *\
    Footer
\*             */
footer {
  background-color:rgba(0,0,0,1);
  color:white;
  margin-top:5em;
}

footer h3 {color:white;}
footer li {list-style-type:none;}
footer a:hover {text-decoration:none;}


/*                        \*
    Media Queries
\*                        */



/*                                                  *\
    Special Nav Responsive Stuff.
           & Media Queries
\*                                                  */

@media (min-width:1200px) {
  .game-presskit ul,.game-presskit p {width:40%}
  .grid p {width: 100%;}

  .game-presskit h3, .game-presskit h4, .game-presskit h5 {
    margin: .5em auto;
    width:40%;
  }

  .toc {
    margin:.5em 2em 0 0;
    width:10%;
  }
}
@media only screen and (max-width: 800px) {

  body {font-size: 15px;}
  header img{width:100%;}
  .navigation {background-color:black;}

/*                              *
      TOC Specific
*                             */

  .game-presskit {
    width: 80%;
    position: relative;
    left: 10%;
    padding: 1%;
  }

  .toc {
    width: 20%;
    position: fixed;
    top: 20.8em; left: 0;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }

  .toc ul {width: 100%; padding: 0;}
  #navbar ul {height: auto;}
  #navbar ul a {display: block;}


/*                                    *
  Content Styles Max800
*                                   */
  .game-presskit h2 {width: 80%;}
  .game-presskit h3, .game-presskit h4, .game-presskit h5 {width: 80%; }
  .game-presskit ul, .game-presskit p {width: 80%;}
  .grid p {width: 100%}
  #trailers + h3, .game-presskit iframe + h3 {width: 80%;}
  #presskit-team-contact {width: 100%;}
  .game-presskit iframe {
    height:20em;
    width: 100%;
  }

}

@media only screen and (max-width: 600px) {
  body {font-size: 14px;}
  header {margin-top: 7.3em;}


/*                                        *
      TOC Specific Styles
*                                         */
  #navbar {
    top: 17.8em;
    left: -6.563em;
    width: 6.563em;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0.92;
  }

  #navbar ul {
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  #navbar h3 {
    opacity: 0;
  }

  #container {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1% 1% 43px;
    overflow: scroll;
  }

  div.menu-trigger {
    position: fixed;
    top: 17em; left: 0;
    width: 6.563em; height: 32px;
    background: rgba(0,0,0,.6);
    cursor: pointer;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 999;
    opacity: 0.8;
  }

  div.menu-trigger:before {
    content: 'Menu';
    display: inline-block;
    width:6.563em;
    height: 32px;
    font-size: 1.2em;
    text-align: center;
    text-transform: none;
    line-height: 32px;
    color: #fff;
  }

  body.menu-active div.menu-trigger {top:5.6em;}
  body.menu-active #navbar {top:5.8em; left: 0px;}
  body.menu-active #navbar ul {left: 0px;}


  #presskit-title {
    font-size: 1.6em;
    padding-left:1em;
  }
  .game-presskit iframe {
    height:12em;
    width: 80%;
  }

}
