<div class="clearfix"></div>
<footer class="zefooter">
  <div class="footbox">
    <div class="column1 footflex"><h3 class="pixel">Connect with Pixeljam:</h3>
      <ul>
        <li class="stwit">
          <a href="https://twitter.com/pixeljamgames"></a></li>
        <li class="sfb" >
          <a href="https://www.facebook.com/pixeljamgames"></a></li>
        <li class="semail">
          <a href="mailto:pixeljamgames@gmail.com?subject=Hello Pixeljam!"></a></li>
        <li class="sgplus">
          <a href="https://plus.google.com/110375670873925357932"></a></li>
        <li class="stumblr">
          <a href="http://pixeljamgames.tumblr.com/"></a></li>
        <li class="syoutube">
          <a href="http://www.youtube.com/pixeljamgames"></a></li>
      </ul>
    </div>
    <div class="column2 footflex">
      <span>Email Me Goodies!</span><br />
      <form onsubmit="window.open( 'http://ymlp.com/subscribe.php?id=gejmqwmgmgq','signup_popup','scrollbars=yes,width=600,height=450'); return true;" target="signup_popup" action="http://ymlp.com/subscribe.php?id=gejmqwmgmgq" method="post">
        <input size="20" name="YMP0" type="text" placeholder="Email Address" class="emailbox" />
        <input value="Submit" type="submit" class="emailsubmit" />
      </form>
    </div>
    <div class="column3 pixel footflex">
      <ul>
        <li><a href="//pixeljam.com/blog/">Dev Blog</a></li>
        <li><a href="//press.pixeljam.com/">Press Kit</a></li>
        <li><a href="//glorkianwarrior.com">Glorkian Academy</a></li>
        <li><a href="//pixeljam.com/blog/team/">Team</a></li>
        <li><a href="//pixeljam.com/blog/theforums">Forums</a></li>
      </ul>
    </div>
  </div>


</footer>
