{% if page.image.feature %}
<header>

  <!-- page feature image code-->
  <img src=
      {% if page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
      {% else %}
        "{{ site.baseurl }}/images/{{ page.image.feature }}"
      {% endif %}
    alt="{{ page.title }} feature image">
    {% if page.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
    </div><!-- /.image-wrap -->
  <!-- end feature image code -->
</header>
{% endif %}
