<nav class="navigation">
  <ul>
    <li class="logoli"><a href="//pixeljam.com/"><img src="{{ "/images/site/pixeljam.svg" | prepend: site.baseurl }}" class="logo" alt="Pixeljam" title="Pixeljam"></a></li>
    <li class="socialli">
      <ul class="social">
        <li><a href="//twitter.com/pixeljamgames"><span class="stwit"   ></span></a></li>
        <li><a href="//www.facebook.com/pixeljamgames"><span class="sfb"     ></span></a></li>
        <li><a href="//pixeljamgames.tumblr.com/"><span class="stumblr" ></span></a></li>
        <li><a href="mailto:pixeljamgames@gmail.com?subject=Hello Pixeljam!"><span class="semail"  ></span></a></li>
      </ul>
    </li>
    <li class="devli">
      <a href="//pixeljam.com/blog/" style="width: 100%; margin: 0 auto;">
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="pressy" x="0px" y="0px" width="132px" height="13px" viewBox="0 0 132 13" enable-background="new 0 0 132 13" xml:space="preserve" preserveAspectRatio="xMidYMin meet" shape-rendering="crispEdges">
          <path class="d-brackets" fill="#FF68FE" d="M0 0h8v1H4v11h4v1H0V0z"/>
          <path class="d-brackets" fill="#FF68FE" d="M124 0h8v13h-8v-1h4V1h-4V0z"/>
          <path class="d-text" fill="#FFFFFF" d="M26 2h12v1h-8v3h4v1h-4v3h8v1H26V2z"/>
          <path class="d-text" fill="#FFFFFF" d="M40 2h4v5h4V2h4v5h-2v2h-2v2h-4V9h-2V7h-2V2z"/>
          <path class="d-text" fill="#FFFFFF" d="M80 2h4v8h8v1H80V2z"/>
          <path class="d-text" fill="#FFFFFF" d="M110 2h8v1h2v1h-4V3h-4v7h4V8h-2V7h6v3h-2v1h-8v-1h-2V3h2V2z"/>
          <path class="d-text" fill="#FFFFFF" d="M22 3V2H12v9h10v-1h2V3H22zM20 10h-4V3h4V10z"/>
          <path class="d-text" fill="#FFFFFF" d="M104 3V2h-8v1h-2v7h2v1h8v-1h2V3H104zM102 10h-4V3h4V10z"/>
          <path class="d-text" fill="#FFFFFF" d="M78 6V3h-2V2H66v9h10v-1h2V7h-2V6H78zM74 10h-4V7h4V10zM74 6h-4V3h4V6z"/>
        </svg>
      </a>
    </li>
    <li class="pressli">
        <a href="{{ site.baseurl }}" style="width: 100%; margin: 0 auto;">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="pressy" x="0px" y="0px" width="146px" height="13px" viewBox="0 0 146 13" enable-background="new 0 0 146 13" xml:space="preserve" preserveAspectRatio="xMidYMin meet" shape-rendering="crispEdges">
            <path class="p-brackets" fill="#FF68FE" d="M0 0h8v1H4v11h4v1H0V0z"/>
            <path class="p-brackets" fill="#FF68FE" d="M138 0h8v13h-8v-1h4V1h-4V0z"/>
            <path class="p-text" fill="#FFFFFF" d="M40 2h12v1h-8v3h4v1h-4v3h8v1H40V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M56 2h10v1h-8v3h6v1h2v3h-2v1H54v-1h8V7h-6V6h-2V3h2V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M70 2h10v1h-8v3h6v1h2v3h-2v1H68v-1h8V7h-6V6h-2V3h2V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M94 2h4v2h2V3h2V2h4v1h-2v1h-2v1h-2v1h-2v1h2v1h2v1h2v1h2v1h-4v-1h-2V9h-2v2h-4V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M108 2h12v1h-4v7h4v1h-12v-1h4V3h-4V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M122 2h12v1h-4v8h-4V3h-4V2z"/>
            <path class="p-text" fill="#FFFFFF" d="M22 3V2H12v9h4V8h6V7h2V3H22zM20 7h-4V3h4V7z"/>
            <path class="p-text" fill="#FFFFFF" d="M38 7V3h-2V2H26v9h4V8h2v1h2v2h4V9h-2V7H38zM34 7h-4V3h4V7z"/>
          </svg>
</a>
    </li>

  </ul>
</nav>
